#title{
  background-color:#d280ed;
  padding:3% ;
  text-align: center;
  color:white;
  font-family: 'Parisienne', cursive;
  font-weight: 900;
  color: #560f6e;

}
#likes{
  background-color:#d280ed;
  padding:3% 5%;
  text-align: center;
  color:white;
  font-family: 'Parisienne', cursive;
  font-weight: 900;
  color: #560f6e;

}
#contact{
  background-color:#d280ed;
  padding:7% 7%;
  text-align: center;
  color:white;
  font-family: 'Parisienne', cursive;
  font-weight: 900;
  color: #560f6e;
}
.front{
  height: 210px;
  width:170px;
  border-radius: 100%;
  border: 7px solid #d8bbf0;
}
h1{
  font-size: 4rem;

}
h2{
  font-size: 3rem;

}
#aboutme,#interest{
    padding:7% 7% ;
    text-align: center;
}
#contact{
  padding:3% 10%;
}
p{
  font-size: 1.4rem;
  font-family: 'PT Serif', serif;
  padding:2% 8%;
}
#aboutme h2{
  font-family: 'Lora', serif;
  color:#42046e;
}
#interest h2{
  font-family: 'Lora', serif;
  color:#42046e;
}

#likes h2{
  font-size: 4rem;
  padding:0 0 2%;
}
.image{
  height:280px;
  width:320px;
  margin: 1rem;

}
.checked{
  color: orange;
}
.skills{
  text-align: center;
  font-family: 'Lora', serif;
  color:#42046e;
  font-size: 2rem;
  padding:8%#be1dde

}
h3{
  padding: 3%;
  font-size: 4rem;
}
.cicon{
  color: #42046e;
  font-size:  2rem;
  margin: 0.2rem;
}
.footer{
  color: #d8bbf0;
  font-size:90%;
}

#aboutme{
 background-image: url("images/garden.#d280ed
}
#interest{
   background-image: url("images/clouds.jpg");
}
